[submodule "mailbox"]
	path = mailbox
	url = https://github.com/Terminus-IMRC/mailbox.git
[submodule "qpu-trivial-assembler"]
	path = qpu-trivial-assembler
	url = https://github.com/Terminus-IMRC/qpu-trivial-assembler.git
[submodule "qpu-bin-to-hex"]
	path = qpu-bin-to-hex
	url = https://github.com/Terminus-IMRC/qpu-bin-to-hex.git
[submodule "libvc4v3d"]
	path = libvc4v3d
	url = https://github.com/Terminus-IMRC/libvc4v3d.git
